@use '@angular/material' as mat;
// 1. Definicja motywu (przywraca ramki kart i cienie)
$my-theme: mat.define-theme();

html {
  // Ładowanie stylów bazowych
  @include mat.all-component-themes($my-theme);
  height: 100%;
  margin: 0;
  --primary: #24B529;
  --secondary: white;

  --mat-sys-primary: var(--primary) !important;
  --mat-sys-secondary: var(--secondary) !important;

  --mat-sys-outline-variant: #e0e0e0 !important;

  --mat-form-field-outlined-focus-outline-color: var(--primary) !important;
  --mat-form-field-outlined-focus-label-text-color: var(--primary) !important;

}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// 4. Stylizacja przycisku
.primaryButton {
  width: 100%;
  max-width: 250px;
  height: 50px; // Poprawiłem wysokość na bardziej standardową
  background-color: var(--primary) !important;
  color:  var(--secondary) !important;
  font-size: 1.1rem;
}

.search-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  background-color: #eef1f6;
  border-radius: 20px;
  padding: 5px 15px;
  box-sizing: border-box;
  border: 1px solid var(--primary);
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
  color: #3c4043;
}