mat-toolbar {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
  padding: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  z-index: 1000;
  position: relative;
   background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

// 1.header-section
.header-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-section.left {
  justify-content: flex-start;
  margin: 5px;
}

.header-section.left img {
  height: 54px;
  border-radius: 10px;
  margin-right: 12px;
}

.header-section.center {
  justify-content: center;
}

.header-section.right {
  justify-content: flex-end;
  padding-right: 50px;
}

.header-section mat-icon {
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
  margin-right: 8px !important;
  color: #5f6368 !important;
}
/////////////////////////


.secondaryButton {
  background-color: var(--secondary) !important;
  font-size: 1rem;
}

.secondaryButton ::ng-deep .mdc-button__label {
  color: var(--primary) !important;
}


